:root{
    --arrow-color: rgba(128, 128, 128, 0.568);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0px;
}
footer{
    background-color: teal;
    height: 20px;
    position: fixed;
    
    top: 97.25%;
    width: 100%;
}
footer a{
    text-decoration: none;
}

.nav-link{
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(90, 117, 205);
    border-style: groove;
    border-radius: 5px;
    color: white;
}

#add-cart{
    background-color: rgb(194, 104, 2);
    font-weight: bold;
    font-size: 12pt;
}

#company-info{
    margin-right: 5px;
    position: relative;
    text-align: right;
    top: -80px;
}

#description-div{
    background-color: rgb(102, 132, 219);
    border-radius: 3px;
    margin: auto;
    padding: 3px;
    position: relative;
    top: 100px;
    width: 90%;
}

#description-div #desc-text{
    padding: 10px;
    padding-top: 0px;
}



#form-div{
    background-color: rgb(212, 212, 212);
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    top: 100px;
   
}

#header{
    background-color: white;
    height: 145px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#header-img{
    height: 100px;
    margin: 3px;
}

#left-arrow{
    background-color: var(--arrow-color);
    height: 60px;
    left: 6%;
    position: relative;
    
    top: -60px;
    width: 20px;
}

#picture-container{
    background-color: rgb(47, 172, 255);
    height: 300px;
    margin: auto;
    position: relative;
    top: 120px;
    width: 380px;
}

#picture-container img{
    height: 98%;
    width: 98%;
}

#price{
    
}

#price-div{
    align-items: baseline;
    background-color:  rgb(75, 103, 187);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 100px;
    width:50%;
}

#nav-bar{
    
    align-content: space-around;
    position: relative;
    top: -80px;
}

#nav-border{
    border-bottom: rgb(102, 132, 219);
    border-top: rgb(102, 132, 219);
    border-style: solid;
    border-left-style: none;
    border-right-style: none ;
    
    
    
}

#right-arrow{
    background-color: var(--arrow-color);
    height: 60px;
    position: relative;
    left: 90%;
    top: 300px;
    width: 20px;
}

#thumbnail-container{
    background-color: rgb(190, 190, 190);
    border-radius: 3px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    height: 124px;
    margin: auto;
    top: 80px;
    width: 400px;
}

#thumbnail-container img{
    border-color: gray;
    border-width: thin;
    border-style: solid;
    height: 100px;
    margin-top: 10px;
    width: 100px;
}

#thumbnail-container img:hover{
    border-color: black;
    height: 110px;
    width: 110px;
}

#video{
    
    
}
#video-div{
    position: relative;
    text-align: center;
    top: 120px;
    width:90%;
}
