:root{
    --arrow-color: rgba(128, 128, 128, 0.568);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0px;
}
footer{
    background-color: teal;
    height: 20px;
    position: fixed;
    
    top: 97.25%;
    width: 100%;
}
footer a{
    text-decoration: none;
}

.nav-link{
    color:rgb(90, 117, 205); 
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(90, 117, 205);
    border-style: groove;
    border-radius: 5px;
    color: white;
}

#add-cart{
    background-color: rgb(194, 104, 2);
    font-weight: bold;
    font-size: 12pt;
}

#company-info{
    margin-right: 5px;
    position: relative;
    text-align: right;
    top: -80px;
}

#description-div{
    background-color: rgb(102, 132, 219);
    border-radius: 3px;
    margin: auto;
    padding: 3px;
    position: relative;
    top: 100px;
    width: 90%;
}

#description-div #desc-text{
    padding: 10px;
    padding-top: 0px;
}



#form-div{
    background-color: rgb(212, 212, 212);
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    top: 100px;
   
}

#header{
    background-color: white;
    height: 145px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#header-img{
    height: 100px;
    margin: 3px;
}

#left-arrow{
    background-color: var(--arrow-color);
    height: 60px;
    margin-left: 10px;
    position: relative;
    
    top: -75px;
    width: 20px;
}

#left-arrow p{
    color: white;
    padding-top: 18px;
    font-size:  14pt;
    font-weight: bold;
    
}

#left-arrow p a, #right-arrow p a{
    color: white;
    text-decoration: none;
    
}

#left-arrow p:hover{
    color: gray;
}


#picture-container{
    
    height: 300px;
    margin: auto;
    position: relative;
    top: 120px;
    width: 380px;
}

#picture-container img{
    height: 98%;
    width: 98%;
}

#price{
    
}

#price-div{
    align-items: baseline;
    background-color:  rgb(75, 103, 187);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 100px;
    width:50%;
}

#nav-bar{
    
    align-content: space-around;
    position: relative;
    top: -80px;
}

#nav-border{
    border-bottom: rgb(102, 132, 219);
    border-top: rgb(102, 132, 219);
    border-style: solid;
    border-left-style: none;
    border-right-style: none ;
    
    
    
}

#right-arrow{
    background-color: var(--arrow-color);
    height: 60px;
    position: relative;
    left: 90%;
    top: 300px;
    width: 20px;
}

#right-arrow p{
    color: white;
    padding-top: 18px;
    font-size:  14pt;
    font-weight: bold;
    text-decoration: none;
}

#right-arrow p:hover{
    color: gray;
}

#thumbnail-container{
    background-color: rgb(190, 190, 190);
    border-radius: 3px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    height: 124px;
    margin: auto;
    top: 80px;
    width: 400px;
}

#thumbnail-container img{
    border-color: gray;
    border-width: thin;
    border-style: solid;
    height: 100px;
    margin-top: 10px;
    width: 100px;
}

#thumbnail-container img:hover{
    border-color: black;
    height: 110px;
    width: 110px;
}

#video{
    margin: auto;
    
}
#video-div{
    margin: auto;
    position: relative;
    text-align: center;
    top: 120px;
    width:90%;
}

@media (min-width: 900px){
    #description-div{
        left: 20%;
        top: -350px;
        width: 40%;
    }
    #form-div{
        top: -1px;
    }
    #left-arrow{
        border-radius: 50%;
        height: 30px;
        left: 35%;
        top: 110px;
        width: 30px;
    }
    #left-arrow p{
        padding: 2px;
        text-align: center;
    }
    #price-div{
        top: 130px;
        width: 40%;
    }
    #product-images{
        margin: 0px;
        left: 20px;
        width: 50%;
    }
    #picture-container img{
        height: 100%;
        width: 100%;
    }
    #price-div{
        margin: 0px;
        left: 49.5%;
        top: -340px;
    }
    #right-arrow{
        border-radius: 50%;
        height: 30px;
        left: 60%;
        top: 458px;
        width: 30px;
    }
    #right-arrow p{
        text-align: center;
        padding: 2px;
    }
    #thumbnail-container{
        left: -25%;
        top: 115px;
    }
    #video-div{
        top: -60px;
    }
}
